.posts{
  width: 90vw; 
  position: relative;
}

.email{
  display: none;
}

@media only screen and (min-width: 1000px) {
  .posts{
    width: 35rem; 
    position: relative;
  }

  .email{
    display: block;
  }
}